* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #a83232;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: #ffcc00;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 1.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 15px;
    transition: color 0.3s ease;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: #f0e68c;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #faf3e0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #a83232;
    padding: 20px 0;
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f0e68c;
}

tr:hover {
    background-color: #d1d1d1;
}
.nume {
    text-align: center;
    font-size: large;
    padding: 20px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #a83232;
    color: white;
    margin-top: 50px;
    font-size: 1rem;
    text-transform: uppercase;
}